hr {
    height: 10px;
    background: #DCAB4E;
    border: none;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #615F65;
    padding-top: 10px;
}

.socials {
    color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.socials a {
    margin: 0;
}

@media only screen and (min-width: 1000px) {
    .footer-container {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
}